body {
  background-color:#87CEFA;
      text-align: center;
    background-size: 400px 705px;
    border-radius: 25px
  }

  #resultado {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    }      

   #contenido {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-color: #20B2AA;
    
   }
   button {
     border-color:pink;
     
   }
